.menuDropdown {
  background: black;
}

.item {
  color: white;
  font-size: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.item:hover {
  background: #333;
  cursor: pointer;
}
